#bg {
	color: #EDEBEB;
	background-color: #000012;
	background-image:url("../webimages/asteroid.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 1500px;
}

#wrap {
	width: 1000px;
}

#header {
	position: fixed;
	padding-left: 40px;
	background-color:rgba(0,0,0,1);
	width: 100%;
	min-width: 900px;
	background-image:url("../webimages/header.png");
	background-position:right;
	background-repeat: no-repeat;
}

#header a {
	color: #EDEBEB;
}

#sidebar {
	position: static;
	margin-top: 100px;
	/*background-color:rgba(0,0,0,0.75);*/
	float: left;
}

#sidebar li {
	list-style: none;
}

#sidebar h6 {
	margin-left: 40px;
}

#main {
	/*background-color:rgba(0,0,0,0.6);*/
	padding-top: 75px;
	width: 800px;
	margin-bottom: 40px;
	float: right;
}

#main img {
	padding-top: 5px;
	padding-bottom: 5px;
}

#progress {
	max-width: 640px;
}

#versionTable li {
	list-style: none;
}

#footer {
	width: auto;
}

.lang-img {
	width: 20px;

}

.btn {
	margin-bottom:5px;
}